HELP.md
target/
build/

.mvn/wrapper/maven-wrapper.jar

!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### IDE ###
.idea/
.vscode/
*.iml
*.ipr
*.iws

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Logs ###
*.log
logs/
*.out
*.err

### OS ###
.DS_Store
Thumbs.db

### Env ###
.env
.env.*
application-local.yml
application-local.properties

### Upload file ###
uploads/